@import url($font-url);

// General Settings
html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  font-family: $font-family;
}

body {
  margin: 0;
  padding: 0;
  font-weight: $font-regular;
  line-height: 1;
  font-family: $font-family;
  color: $color-text;
  font-smooth: always;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1.3rem;
  background-color: $color-bg;
}

ul {
  margin: 0;
  padding: 0;
}

button {
  cursor: pointer;
  outline-color: $color-main;
}
