.btn {
  display: inline-block;
  color: currentColor;
  background: transparent;
  font-size: 1.45rem;
  font-weight: var(--font-medium);
  border-radius: 0.4rem;
  border: none;
  outline: transparent;
  transition: var(--generic-transition);
  padding: 0.6rem 1.5rem;

  & > svg {
    fill: currentColor;
  }

  &--main {
    background-color: var(--color-main);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-main-light);
    }
  }

  &--neutral {
    color: var(--color-darker);
    background-color: var(--color-light);

    &:hover {
      background-color: var(--color-gray-light);
    }
  }

  &--danger {
    background-color: var(--color-danger);
    color: var(--color-white);

    &:hover {
      background-color: var(--color-danger-light);
    }
  }

  &--sm {
    font-size: 1.3rem;
    padding: 0.45rem 1rem;
  }

  &--lg {
    font-size: 1.6rem;
    padding: 0.85rem 2.5rem;
  }

  &--round {
    border-radius: 10rem;
  }
}

button:disabled {
  opacity: 0.6;
  cursor: not-allowed;
}

.dark .btn {
  &--main,
  &--danger {
    color: var(--color-text);
  }
}
