.form {
  &__label {
    margin-bottom: 1rem;
    display: block;
    font-size: 1.5rem;
    font-weight: var(--font-medium);
  }

  &__field {
    width: 100%;
    margin-bottom: 2rem;

    &--color-picker {
      .form__label {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 2rem;

        & svg {
          margin-right: 1rem;
        }
      }
    }
  }

  &__input {
    display: block;
    padding: 1rem 1.5rem;
    border-radius: 0.4rem;
    border: 2px solid var(--color-light);
    outline: none;
    width: 100%;
    font-size: 1.45rem;
    transition: var(--generic-transition);

    &:focus {
      border: 2px solid var(--color-gray-light);
    }

    &--textarea {
      resize: none;
    }
  }

  &__group {
    display: flex;
    justify-content: space-between;

    & > *:not(:last-child) {
      margin-right: 1.5rem;
    }
  }

  &__actions {
    margin-top: 1rem;
    text-align: right;
    button:first-child {
      margin-right: 0.8rem;
    }
  }

  &__error {
    color: var(--color-danger);
    font-size: 1.25rem;
    font-weight: var(--font-bold);
    display: inline-block;
    margin-top: 0.5rem;
  }
}

.dark .form {
  &__input {
    background: var(--color-white);
    color: var(--color-text);
  }
}
