.sidebar {
  position: sticky;
  padding-right: 2.5rem;
  left: 0;
  top: 0;
  bottom: 0;
  font-weight: var(--font-medium);
  font-size: 1.45rem;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 11;
  border-right: var(--generic-border);

  &__icon {
    margin-right: 1.5rem;
    & > svg {
      width: 2rem;
      height: 2rem;
      fill: var(--color-gray);
    }

    &--delete {
      display: inline-block;
    }
  }

  &__link {
    text-decoration: none;
    user-select: none;
    color: var(--color-text);
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    transition: all 0.3s ease;
    padding: 0.8rem 1.5rem;
    background-color: transparent;
    border: none;
    outline-color: transparent;

    &-text {
      position: relative;
      bottom: 5px;
    }

    &:hover,
    &.active {
      color: var(--color-main);
      background-color: var(--color-light);
      border-radius: 0.5rem;
      box-shadow: var(--generic-box-shadow);

      svg {
        fill: currentColor;
      }
    }
  }

  &__divider {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    margin-top: 2rem;

    .sidebar__link {
      cursor: unset;
      margin-top: 0;

      &-text {
        margin-left: 1rem;
        font-weight: var(--font-bold);
        color: var(--color-text);

        &:hover,
        &.active {
          color: var(--color-main);
        }
      }

      &:hover {
        color: var(--color-text);
        background-color: transparent;
        border-radius: 0;
        box-shadow: none;
        svg {
          fill: var(--color-gray);
        }
      }
    }
  }

  &__action {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;
    color: var(--color-text);

    .sidebar__icon {
      margin-right: 0;
    }
  }

  &__generic,
  &__tabs {
    list-style: none;
  }

  &__tabs {
    margin-top: 0.8rem;
    margin-left: 1.5rem;

    .sidebar__link {
      position: relative;
      display: flex;
      align-items: center;
      justify-content: space-between;

      &-text {
        display: inline-block;
        position: relative;
        bottom: 3px;
        left: 1rem;
      }
      .sidebar__icon {
        background-color: transparent;
        border: none;
        cursor: pointer;

        & > svg {
          fill: var(--color-text);
          width: 1.5rem;
          height: 1.5rem;
        }

        &--delete {
          visibility: hidden;
          transition: all 0.3s ease-in-out;
          opacity: 0;
        }
      }

      &:hover {
        .sidebar__icon--delete {
          visibility: visible;
          opacity: 1;
        }
      }
    }
  }

  &__deletePopup {
    position: absolute;
    right: 5rem;
    width: 20rem;
    padding: 1.5rem 2.5rem;
    border-radius: 0.5rem;
    background-color: var(--color-white);
    box-shadow: 1px 1px 1rem rgba(var(--color-dark), 0.1);
    z-index: 11;
  }

  &__deleteAction {
    display: flex;
    justify-content: flex-end;
  }

  &__deleteButton {
    display: inline-block;
    border: none;
    padding: 5px 1rem;
    border-radius: 4px;

    &--confirm {
      margin-right: 5px;
    }
  }
}

.dark .sidebar {
  &__deletePopup {
    background: var(--color-white);
  }
}
