.sidebar {
  position: fixed;
  width: 20%;
  padding-right: 2.5rem;
  padding-left: 5%;
  left: 0;
  top: 0;
  bottom: 0;
  font-weight: $font-bold;
  font-size: 1.3rem;
  overflow-y: auto;
  overflow-x: hidden;
  z-index: 11;

  &__generic {
    margin-top: 5.8rem;
  }

  &__icon {
    margin-right: 1.5rem;
    & > svg {
      width: 2rem;
      height: 2rem;
      fill: $color-gray;
    }
  }

  &__link {
    text-decoration: none;
    user-select: none;
    color: $color-text;
    display: inline-block;
    width: 100%;
    margin-top: 2rem;
    transition: all 0.3s ease;
    padding: 0.8rem 1.5rem;

    &-text {
      position: relative;
      bottom: 5px;
    }

    &:hover,
    &.active {
      color: $color-main;
      background-color: $color-bg;

      border-radius: 0.5rem;
      svg {
        fill: $color-main;
      }
    }
  }

  &__divider {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    border-bottom: 1px solid $color-light;
    margin-top: 2rem;

    .sidebar__link {
      cursor: unset;
      margin-top: 0;

      &:hover {
        color: $color-text;
        background-color: transparent;
        border-radius: 0;
        svg {
          fill: $color-gray;
        }
      }
    }
  }

  &__action {
    cursor: pointer;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background-color: transparent;
    transition: background-color 0.3s ease;

    .sidebar__icon {
      margin-right: 0;
    }
  }

  &__generic,
  &__tabs {
    list-style: none;
  }

  &__tabs {
    margin-top: 0.8rem;
    margin-left: 1.5rem;
    .sidebar__link {
      margin-top: 0.8rem;
      &-text {
        position: relative;
        bottom: 2.5px;
      }
      .sidebar__icon {
        & > svg {
          width: 1.5rem;
          height: 1.5rem;
        }
      }
    }
  }
}
