.tasks {
  margin-top: 3rem;
  min-height: 91vh;

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 1.5rem;
    border-bottom: var(--generic-border);
    margin-bottom: 3rem;
  }

  &__top-actions {
    display: flex;
    align-items: center;
    button {
      &:first-child {
        margin-right: 1rem;
      }
    }
  }

  &__tab-name {
    color: var(--color-main);
    font-size: 2.4rem;
    margin: 0;
  }

  &__list {
    list-style: none;
  }

  &__item {
    padding: 2rem;
    background-color: var(--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 0.5rem;
    box-shadow: var(--generic-box-shadow);

    &:not(:last-child) {
      margin-bottom: 1rem;
    }
  }

  &__item-left {
    display: flex;
    align-items: center;
  }

  &__item-right {
    font-weight: var(--font-bold);
    line-height: 1;

    & svg {
      color: var(--color-main);
      margin-right: 0.5rem;
    }

    span {
      cursor: pointer;
      display: inline-flex;
      align-items: center;
      margin-left: 1.5rem;
      font-size: 1.4rem;
    }
  }

  &__checkbox {
    background-color: transparent;
    margin-right: 1rem;
    outline: none;
    border: none;

    & > svg {
      height: 3rem;
      width: 3rem;
      fill: var(--color-main-lighter);
      transition: all 0.3s ease-in-out;

      &:hover {
        fill: var(--color-main);
      }
    }
  }

  &__content {
    h4 {
      line-height: 1;
      font-size: 1.45rem;
      font-weight: var(--font-medium);
      margin: 0;
      margin-bottom: 0.5rem;
      color: var(--color-dark);
    }

    p {
      padding: 0;
      margin: 0;
    }
  }

  &--archived {
    .tasks__list {
      opacity: 0.6;
    }

    &__tab-name {
      color: var(--color-text);
      background: transparent;
      border: none;
      outline: transparent;
      font-size: 1.7rem;
      font-weight: var(--font-bold);
      margin-top: 3rem;
      margin-bottom: 1.5rem;
      display: flex;
      align-items: flex-start;
      padding: 0;
    }

    &__icon {
      margin-right: 0.5rem;

      & > svg {
        width: 2.2rem;
        height: 2.2rem;
      }
    }
  }
}

.dark .tasks__item {
  background-color: var(--color-white);
}
