$generic-box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px solid #f1f1f1;
$generic-bg: #0000e6;

/* Colors */
$color-main: #0000e6;
$color-dark: #111;
$color-text: #444;
$color-gray: #999;
$color-light: #e1e1e1;
$color-bg: #f1f0ff;
$color-bg-light: #f7f7f9;
$color-white: #fff;

/*Utilities variables*/
$box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 0px 1px, rgba(0, 0, 0, 0.1) 0px 4px 11px;
$generic-border: 1px s7lid #f1f1f1;

$font-url: 'https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@500;600;700&display=swap';
$font-regular: 500;
$font-medium: 600;
$font-bold: 700;

/* Dark Modes */
body#darkmode {
  $color-main: #0000e6;
  $color-dark: #fff;
  $color-text: #eee;
  $color-gray: #888888;
  $color-light: #303030;
  $color-bg: #09080f;
}
